@import url('https://fonts.googleapis.com/css?family=Red+Hat+Text&display=swap');
body {
    font-family: 'Red Hat Text'; 
    color: white;
    text-align: center;
}

.title-wrapper-2 {
    background-color: black;
    width: 25%;
    margin-left: 37.5%;
    height: auto;
}
.title-wrapper {
    background-color: black;
    width: 15%;
    margin-left: 42.5%;
    height: auto;
}
.hello-wrapper {

}

.socmed-wrapper {
}