{% load static %}
<DOCTYPE <!DOCTYPE html>
<html lang ="en"> 
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Welcome!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <script src="main.js"></script>
</head>
<body style="background: url('{% static 'img/back.jpeg' %}');">
    <h1>Welcome</h1>

    <img src="{% static 'img/inez.jpg'%}" alt="Smiley face" height="300" width="200">
    <div class="title-wrapper" style="margin-top: -1.5vw">
        <h2 class="hello-wrapper">HELLO!</h2>
    </div>

    <div class="title-wrapper-2">
        <p style="padding: 5% 0 5% 0;">I am Inez Zahra, a Computer Science <br>
            student in the Universitas Indonesia. <br>
            I love reading and watching movies.<br>
        NPM : 1806241091<br>
        Year : 2018</p>
    </div>
    <div class="socmed-wrapper">
    <a href="http://instagram.com/inezzhr_" target="_blank">

        <img src="{% static 'img/ig.svg' %}" width="50;" height="auto;" style="background-color:white;">
    </a>

    </div>
</body>
</html>