<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ name }}</title>
</head>
<body>
<h1>Hello my name is {{ name }}</h1>
<article>NPM : {{ npm }}</article>
<article>I am {{ age }} years old</article>
</body>
</html>
